<div class="w-full h-[150px] bg-black text-white flex justify-between items-center p-4">
    <a href="" class="w-1/5 flex justify-center items-center">Powered and secured by IQ</a>
    <h1 class="text-xl w-3/5 flex justify-center items-center font-bold uppercase ">RECURSION DEN</h1>
    <div class=" w-1/5 flex justify-evenly items-center ">
        <a href="https://github.com/guddu36999" target="blank"><img src="/images/social.png" alt="" class="w-[35px] h-[35px]"></a>
    </div>
</div>