<div class="flex justify-center items-center text-black  text-sm w-full h-12 gap-4 p-8">
    <a href="/" class="h-full">Home</a>
    <a href="/blog/all" class="h-full">All blog</a>
    <%if(locals.user){%>
        <a href="/user/logout" class="h-full">LogOut</a>
    <%}else{%>
        <a href="/user/signin" class="h-full">SignIn</a>
    <%}%>
</div>