<div class="flex justify-center items-center  text-sm w-full gap-4 p-8">
    <a href="/" class="h-full  hover:border-b-4 hover:border-b-green-500">Home</a>
    <a href="/blog/all" class="h-full hover:border-b-4 hover:border-b-green-500">All blog</a>
    <%if(locals.user){%>
        <a href="/user/logout" class="h-full hover:border-b-4 hover:border-b-green-500">LogOut</a>
    <%}else{%>
        <a href="/user/signin" class="h-full hover:border-b-4 hover:border-b-green-500">SignIn</a>
    <%}%>
</div>